%h1 Listing bundles

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @bundles.each do |bundle|
      %tr
        %td= link_to 'Show', bundle
        %td= link_to 'Edit', edit_bundle_path(bundle)
        %td= link_to 'Destroy', bundle, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Bundle', new_bundle_path
