.row.mt-4
  .col-md-12
    %h2 Showing your bundle
    = link_to 'Edit your bundle', edit_bundle_path(@bundle), class: 'btn btn-secondary'
    .mt-3.d-flex.flex-row.justify-content-start.align-items-center
      .mr-3
        %dt Pre-bundled Cost
        %dd= number_to_currency(@prebundled_cost)

      %div
        %dt Bundled Cost
        %dd Not yet available

    = render 'subscriptions/subscription_list'

    -# TODO: Repurpose create and edit form
    -# = link_to 'Edit', edit_bundle_path(@bundle)
