%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to 'BundleBuddi', new_bundle_path, class: 'navbar-brand'
  %button.navbar-toggler{type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbarSupportedContent', 'aria-controls': 'navbarSupportedContent', 'aria-expanded': false, 'aria-label': 'Toggle navigation' }
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        = link_to new_bundle_path, class: 'nav-link' do
          Home
          %span.sr-only (current)
      %li.nav-item
        = link_to 'Subscriptions', subscriptions_path, class: 'nav-link'